body {
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: beige;
}
.header {
  background-color: darkcyan;
  color: white;
}
h1 {
  margin: 0;
  padding: 1em 0 0 0;
}
h1 a {
  color: white !important;
}
.subtitle {
  padding-top: 0;
  padding: 1em;
}
.desc {
  margin: 1em;
  font-size: 125%;
}
button {
  background-color: darkturquoise;
  border-color: darkturquoise;
  color: white;
  font-weight: bold;
  font-size: 100%;
  width: 15em;
  height: 15em;
  border-radius: 7.5em;
  border-style: solid;
  margin: 2em;
}
.footer {
  background-color: white;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: .5em 0 0.5em 0;
  font-size: 80%;
  color: gray;
}
.footer a {
  color: gray !important;
}
